@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>EUI Notes</h3>

<p>Aplicación de soporte a la gestión de los sistemas de información académica de asignaturas de la ETSISI.</p>

<hr><p> <strong>Version</strong>: 2.0</p>

<hr><p></p><strong>Autores de la migración</strong>:</p> 
    <p>     -Ángel Fombellida de la Fuente -> bm0561</p>
    <p>     -Diego García-Denche Díez -> bm0569 </p>
    <p>     -Óscar Gotor Bermejo -> bm0580 </p>


<hr>Está migración ha sido realizada para la asignatura de Evolución y Mantenimiento Software.
Para más información sobre la realización de esta práctica puede contactar con nosotros a
través de nuestro correo institucional : oscar.gotor.bermejo@alumnos.upm.es