@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica de EMS</h1>
    <p class="lead">AppGestionEMS es una página web que permitirá gestionar la información académica de asignaturas de la ETSISI.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Gestión de Profesores</h3> 
        <img src="~/Imagenes/profesores.JPG" />
    </div>
    <div class="col-md-4">
        <h3>Gestión de Alumnos</h3>  
        <img src="~/Imagenes/clases.jpg" />
    </div>
    <div class="col-md-4">
        <h3>Gestión Evaluaciones</h3>
        <img src="~/Imagenes/calificaciones.JPG" />
    </div>
</div>